// $SuisseIntlLight: 'SuisseIntl Light';
// $global-font-family: $SuisseIntlLight;

// $SuisseIntlLightPath: $fontPath + 'SuisseIntl/';
// @include font-face-connect ($SuisseIntlLight, 'SuisseIntl-Light', $SuisseIntlLightPath);

@font-face {
    font-family: 'SuisseIntl Light';
    src: url("./assets/fonts/SuisseIntl/SuisseIntl-Light.woff") format('woff');
    src: url("./assets/fonts/SuisseIntl/SuisseIntl-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl SemiBold';
    src: url("./assets/fonts/SuisseIntl/SuisseIntl-SemiBold.woff") format('woff');
    src: url("./assets/fonts/SuisseIntl/SuisseIntl-SemiBold.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url("./assets/fonts/SuisseIntl/SuisseIntl.woff") format('woff');
    src: url("./assets/fonts/SuisseIntl/SuisseIntl.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}