.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include box-sizing(border-box);
}

.row {
    margin: 0 -15px;
    @include clearfix;
}

[class*="span"] {
    display: inline-block;
    padding: 0 15px;
    float: left;
    width: 100%;
    @include box-sizing(border-box);
}

@include make-grid($colums);
