@media screen and (min-width: $sm) {
    .container {
        width: $sm;
    }
    @include make-media-grid($colums, $small);
}

@media screen and (min-width: $md) {
    .container {
        width: $md;
    }
    @include make-media-grid($colums, $medium);
}

@media screen and (min-width: $lg) {
    .container {
        width: $lg;
    }
    @include make-media-grid($colums, $large);
}