@mixin make-grid($cols) {
    @for $i from 0 through $cols {
        .span-#{$i}{
            width: 100% / $cols * $i;
        }
        .offset-#{$i} {
            margin-left: 100% / $cols * $i;
        }
    }
}

@mixin make-media-grid($cols, $size) {
    @for $i from 0 through $cols {
        .span-#{$size}-#{$i}{
            width: 100% / $cols * $i;
        }
        .offset-#{$size}-#{$i} {
            margin-left: 100% / $cols * $i;
        }
    }
}

@mixin clearfix {
    &:after {
        display: block;
        content: '';
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

@mixin box-sizing($bs) {
    -moz-box-sizing: $bs;
    -webkit-box-sizing: $bs;
    box-sizing: $bs;
}

@mixin font-face-connect ($fontName, $fontFileName, $fontFilePath)  {
    @font-face {
        font-family: $fontName;
        src: url("#{$fontFilePath}#{$fontFileName}.woff") format('woff');
        src: url("#{$fontFilePath}#{$fontFileName}.woff2") format('woff2');
        font-weight: 300;
        font-style: normal;
    }
}