h1 {
    font-size: 50px;
    line-height: 1;
    margin: 0;
}

h3 {
    font-size: 34px;
    line-height: 48px;
    font-family: 'SuisseIntl Light';
    font-weight: 300;
}

p {
    font-size: 15px;
    line-height: 28px;
}

b {
    font-family: 'SuisseIntl SemiBold';
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pr-3 {
    padding-right: 3rem;
}
.pl-3 {
    padding-left: 3rem;
}

.pr-2 {
    padding-right: 2rem;
}
.pl-2 {
    padding-left: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $darkGrey;
    border: 1px solid transparent;
    padding: .375rem 100px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 7;
    border-radius: 0;
    &:hover{
        opacity: .9;
    }
}