// Sizes
$sm: 480px;
$md: 960px;
$lg: 1200px;

// Names
$small: 'sm';
$medium: 'md';
$large: 'lg';

// Colums
$colums: 12;

// Path
$fontPath: "./assets/fonts/";

// Colors
$green: #3db565;
$darkGrey: #252525;

$msm: 'screen and (min-whidth: #{$sm})';
$mmd: 'screen and (min-whidth: #{$md})';
$mlg: screen and (min-whidth: #{$lg});