@import "normalize-scss";
@include normalize();

@import "mixins";
@import "variables";
@import "grid";
@import "fonts";
@import "typograph";


body {
    font-family: 'SuisseIntl Light';
}

.color{
    &-green {
        color: $green;
    }
}

.top-comp {
    padding: 60px 0 80px;
    p {
        margin: 0;
        padding: 0;
        b {
            display: block;
            text-transform: uppercase;
        }
        a {
            color: $green;
            text-decoration: none;
        }
        &.phone {
            margin-top: 25px;
            font-size: 26px;
            line-height: 36px;
        }
    }
}


.middle-comp {
    background: $darkGrey;
    color: white;
    position: relative;
    @media screen and (max-width: $sm) {
        position: inital;
    }
}

.vue-map-container {
    height: 100%;
    width: 100%;
}

.map-block{
    &__tabs{
        &-control {
            list-style: none;
            margin: 0 0 40px;padding: 0;
            @include clearfix;
            font-size: 11px;
            font-family: 'SuisseIntl';
            font-weight: 400;
            li {
                float: left;
                + li {
                    margin-left: 20px;
                }
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    &.active {
                        color: $green;
                    }
                }
            }
        }
    }
    &__map{
        &-span {
            @media screen and (max-width: $sm) {
                height: 200px;
                position: relative;
                padding: 0;
            }
        }
        &-wrap {
            background: $darkGrey;
            position: absolute;
            left: 50%;
            height: 100%;
            right: 0;
            bottom: 0;
            padding: 0; 
            @media screen and (max-width: $md) {
                left: 100% - 100% / $colums * 5;
            }
            @media screen and (max-width: $sm) {
                left: 0 
            }
            
        }
    }
    &__title{
        font-size: 26px;
        line-height: 1;
        margin-bottom: 30px;
    }
    &__adress-list {
        p {
            margin: 0;
            line-height: 20px;
            font-size: 11px;
        }
    }
    &__left-block {
        height: 400px;
    }
}

.field-group{
    position: relative;
    + .field-group {
        margin-top: 5px;
    }
    
    input[type=text], input[type=phone], input[type=email]{
        &.field-control {
            outline: none;
            display: block;
            @include box-sizing(border-box);
            width: 100%;
            height: 50px;
            border: 1px solid transparent;
            border-bottom-color: black; 
            background: rgba($color: #fff, $alpha: 0);
            padding-left: 100px;
            font-family: 'SuisseIntl Light';
            + label {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &:focus {
                border-bottom-color: white;
                color: white;
                + label {
                    color: white;
                }
            }
        }
    }
    [type=submit]:disabled{
        opacity: .5
    }
    input[type=checkbox]{
        &.field-control {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            + label {
                color: white;
                line-height: 13px;
                padding: 10px 0;
                display: block;
                cursor: pointer;
                &::before {
                    content: '';
                    display: block;
                    height: 13px;
                    width: 13px;
                    float: left;
                    background: white;
                    margin-right: 20px;
                }
            }
        }
        &.field-control:checked {
            + label {
                &::before {
                    background: url("assets/img/check.png") center white;
                    background-size: contain;
                }
            }
        }
    }
    &.error {
        input[type=text], input[type=phone], input[type=email]{
            &.field-control {
                border-bottom-color: red;
                color: red;
                + label {
                    color: red;
                }
                &:focus {
                    border-bottom-color: red;
                    color: red;
                    + label {
                        color: red;
                    }
                }
            }
        }
        span {
            position: absolute;
            color: red;
            top: 100%;
            left: 0;
            font-size: 11px;
        }
        input[type=checkbox]{
            &.field-control {
                + label {
                    color: red;
                    &::before {
                        content: '';
                        background: red;
                    }
                }
            }
            &.field-control:checked {
                + label {
                    &::before {
                        background: url("assets/img/check.png") center white;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

.bottom-comp {
    background: url("assets/img/pattern.png") 20px $green;
    padding: 100px 0;
    h3 {
        color: white;
        margin-bottom: 20px;
    }
    p {
        line-height: 34px;
        font-family: 'SuisseIntl';
    }
}

@import "media";