<template>
    <div class="wrap">
        <top-comp/>
        <middle-comp />
        <bottom-comp />
        
        
    </div>
</template>

<script>
import TopComp from '@/components/TopComp'
import MiddleComp from '@/components/MiddleComp'
import BottomComp from '@/components/BottomComp'
export default {
    components: {
        TopComp,
        MiddleComp,
        BottomComp
    }
}
</script>

<style>

</style>
