<template>
    <section class="bottom-comp">
        <div class="container">
            <div class="row">
                <div class="span-md-5 span-lg-6 pr-2">
                    <h3>Contact Us</h3>
                    <form @submit.prevent="checkForm" v-if="sendStatus !== 'success'">
                        <div class="field-group" :class="{error: errors.name}">
                            <input id="fieldName" 
                                type="text" 
                                v-model="formData.name"
                                name="name"
                                @change="checkName"
                                @keyup="keyupChecker('name')"
                                autocomplete="off"
                                class="field-control">
                            <label for="fieldName">Name</label>
                            <span v-if="errors.name">Please enter your Name</span>
                        </div>

                        <div class="field-group" :class="{error: errors.phone}">
                            <input id="fieldPhone" 
                            type="phone" 
                            name="phone"
                            autocomplete="off"
                            v-model="formData.phone"
                            @change="checkPhone"
                            @keyup="returnNumbers"
                            class="field-control">
                            <label for="fieldPhone">Phone</label>
                            <span v-if="errors.phone">Please enter your Phone correctly</span>
                        </div>

                        <div class="field-group" :class="{error: errors.email}">
                            <input id="fieldEmail" 
                            type="text" 
                            name="email"
                            v-model="formData.email"
                            autocomplete="off"
                            @keyup="keyupChecker('email')"
                            class="field-control">
                            <label for="fieldEmail">E-mail</label>
                            <span v-if="errors.email">Please check your Email</span>
                        </div>

                        <div class="field-group mb-3" :class="{error: errors.check}">
                            <input id="fieldCheck" 
                            type="checkbox" 
                            name="check"
                            v-model="formData.check"
                            class="field-control" @click="formData.check = !formData.check" @change="checkCheck" :checked="formData.check"> 
                            <label for="fieldCheck">I agree the processing of personal data</label>
                        </div>
                        <div class="field-group">
                            <button type="submit" class="btn" :disabled="isLoading">Get in touch</button>
                        </div>
                    </form>
                    <div v-else>You message sended success</div>
                </div>
                <div class="span-md-7 pt-4 pl-2">
                    <p>Please tell us more about your request and give us info about your company and country</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data () {
        return {
            errors: {
                name: false,
                phone: false,
                email: false,
                check: false
            },
            formData: {
                name: '',
                email: '',
                phone: '',
                check: true
            }
        }
    },
    computed: {
        isLoading() {
            return this.$store.getters.getLoading
        },
        sendStatus() {
            return this.$store.getters.getSendStatus
        }
    },
    methods: {
        returnNumbers(){
            this.formData.phone = this.formData.phone.replace(/[^0-9.]/g,'')
            if(this.errors.phone) this.checkPhone()
        },
        keyupChecker(name) {
            if(this.errors[name]){
                switch(name){
                    case 'name': this.checkName()
                    break;
                    case 'email': this.checkEmail()
                    break;
                }
            }
        },
        checkForm() {
            this.checkName()
            this.checkPhone()
            this.checkEmail()
            this.checkCheck()

            if(!this.errors.name && !this.errors.phone && !this.errors.email && !this.errors.check)
                this.submitForm(this.formData)
        },
        checkName() {
            this.errors.name = this.formData.name.length < 3
        },
        checkPhone() {
            this.errors.phone = this.formData.phone.length < 10
        },
        checkEmail() {
            // eslint-disable-next-line
            const re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
            this.errors.email = !re.test(this.formData.email.toLowerCase())
        },
        checkCheck() {
            this.errors.check = !this.formData.check
        },
        submitForm() {
            this.$store.dispatch('submitForm', this.formData)
        }
    }
}
</script>

<style>

</style>
