<template>
    <section class="middle-comp map-block">
        <div class="container">
            <div class="row">
                <div class="span-sm-7 span-md-6 map-block__left-block">
                    <h3>Our Offices</h3>

                    <ul class="map-block__tabs-control mb-2">
                        <li v-for="item in getOffices" :key="item.id">
                            <a href="#" @click.prevent="getOffice(item.id)" :class="{active: item.id === activeOffice.id}">{{item.city}}</a>
                        </li>
                    </ul>

                    <div class="map-block__title" v-if="activeOffice">{{activeOffice.title}}</div>
                    
                    <div class="map-block__adress-list" v-if="activeOffice">
                        <p>{{activeOffice.adress}}</p>
                        <p>{{activeOffice.zip}}</p>
                        <p>{{activeOffice.country}}</p>
                    </div>
                </div>
                <div class="span-sm-5 span-md-6 map-span">
                    <div class="map-block__map-wrap">
                        <google-map :marker="markerPosition" v-if="markerPosition" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import GoogleMap from './GooglemapComp'
export default {
    computed: {
        getOffices() {
            return this.$store.getters.getOffices
        },
        activeOffice() {
            return this.$store.getters.getActiveOffice
        },
        markerPosition() {
            return this.activeOffice ? this.activeOffice.geolocation : false
        }
    },
    methods: {
        getOffice(id) {
            this.$store.dispatch('getOfficeById', id)
        }
    },
    beforeMount(){
        this.$store.dispatch('fetchOfficies')
    },
    components: {
        GoogleMap
    }
}
</script>

<style>

</style>
