<template>
    <section class="top-comp">
        <div class="container">
            <h1>Contacts</h1>
            <div class="row">
                <div class="span-lg-6">
                    <h3><span class="color-green">GMS</span>  Headquarters</h3>
                    <div class="row">
                        <div class="span-md-6">
                            <p>Global Message Services Ukraine LLC</p>
                            <p>Bundesstrasse 5 | 3rd Floor</p>
                            <p>6300 Zug</p>
                            <p>Switzerland</p>
                            <p class="phone"><a href="tel:41415446200">+41 41 544 62 00</a></p>
                        </div>
                        <div class="span-md-6">
                            <p>Email
                            <b><a href="mailto:info@gms-worldwide.com">info@gms-worldwide.com</a></b></p>

                            <p>Send message
                            <b><a href="https://viber.com" >Viber us</a></b></p>

                            <p>Send form
                            <b><a href="#" >Contact us</a></b></p>
                        </div>
                    </div>
                </div>
                <div class="span-lg-6">
                    <h3>Technical support <span class="color-green">24/7</span></h3>
                    <p>GMS understands that it can be hard to follow all new technologies. We regularly provide for all our clients educational trainings to make your operator`s business earn more and better though our best practices.</p>
                    <p class="phone"><a href="tel:41415446206">+41 41 544 62 06</a></p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>
